In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as st
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Preprocessing (Предобработка)

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = pd.Series(data['revenue'] - data['budget'])
data['for_month_group'] = pd.to_datetime(data['release_date']).dt.month

# 
def genres_count(genres):
    count = {}
    for i in genres:
        word = i.split("|")
        for char in word:
           if char in count:
               count[char] += 1
           else:
               count[char] = 1

    a = pd.DataFrame.from_dict(count, orient='index').rename(columns={0:'Qunatity'})           
            
    display(a.sort_values(['Qunatity'],ascending=False).head(10))

def original_title_len_count(title):
    m=0
    for y in title:
        count[y] = len(y)    
        if count[y]>m:
            m = count[y]
            n = y
    
    df_title_len = data[data.original_title.str.contains(n, na=False)].sort_values(['profit'],ascending=True).head(1)
    
    display(df_title_len)
    
def production_companies_list(production_companies):
    m=0
    count_production_companies = {}
    for i in production_companies:
        word = i.split("|")
        for char in word:
           if char in count_production_companies: 
               count_production_companies[char] += 1
           else:
               count_production_companies[char] = 1
                
                
    df_production_companies = data.runtime
    for char, cnt in count_production_companies.items():
        df_companies = data[data.production_companies.str.contains(char, na=False)]
        df_companies['production_companies'] = np.where(df_companies['production_companies']!=None, char, df_companies['production_companies'])
        df_companies = df_companies.groupby(['production_companies'])['vote_average'].mean().sort_values(ascending=False)
        if df_companies[0]>m:
            m = df_companies[0]
            n = char
        display(m,n)

# 1. Which movie on the list has the largest budget?
# 1. У какого фильма из списка самый большой бюджет?

In [5]:
data_budget = data.sort_values(['budget'],ascending=False).head(10)
display(data_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000,5
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767,4
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100,3
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936,11
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007,632871626,5
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7
374,tt0926084,250000000,954305868,Harry Potter and the Deathly Hallows: Part 1,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...,David Yates,One Wayâ€¦ One Fateâ€¦ One Hero.,"Harry, Ron and Hermione walk away from their l...",146,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,10/17/2010,7.4,2010,704305868,10
1186,tt1170358,250000000,958400000,The Hobbit: The Desolation of Smaug,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Beyond darkness... beyond desolation... lies t...,"The Dwarves, Bilbo and Gandalf have successful...",161,Adventure|Fantasy,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,12/11/2013,7.6,2013,708400000,12
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012,831041287,7

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Which of the films is the longest (in minutes)?
# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data_runtime_max = data.sort_values(['runtime'],ascending=False).head(10)
display(data_runtime_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007,-41962103,4
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005,343000000,12
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001,309220945,5
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400,12
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001,778368364,12
1601,tt0346491,155000000,167298192,Alexander,Colin Farrell|Angelina Jolie|Val Kilmer|Jared ...,Oliver Stone,The greatest legend of all was real.,"Alexander, the King of Macedonia, leads his le...",175,War|History|Action|Adventure|Drama,France 3 CinÃ©ma|Intermedia Films|PathÃ© Renn ...,11/21/2004,5.6,2004,12298192,11
993,tt1371111,102000000,130482868,Cloud Atlas,Tom Hanks|Halle Berry|Jim Broadbent|Hugo Weavi...,Lilly Wachowski|Lana Wachowski|Tom Tykwer,Everything is Connected,A set of six nested stories spanning time betw...,172,Drama|Science Fiction,Anarchos Productions|X-Filme Creative Pool|Asc...,10/26/2012,6.5,2012,28482868,10

In [8]:
answers['2'] = 'Gods and Generals'

# 3. Which of the films is the shortest (in minutes)?
# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data_runtime_min = data.sort_values(['runtime'],ascending=True).head(10)
display(data_runtime_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002,89862682,2
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003,115680000,2
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005,-15521894,3
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004,-6048539,4
1348,tt0121164,40000000,117195061,Corpse Bride,Johnny Depp|Helena Bonham Carter|Emily Watson|...,Tim Burton|Mike Johnson,There's been a grave misunderstanding.,"Set in a 19th-century european village, this s...",77,Romance|Fantasy|Animation|Music,Tim Burton Animation Company|Will Vinton Studi...,9/9/2005,7.0,2005,77195061,9
1807,tt0120917,100000000,169327687,The Emperor's New Groove,David Spade|John Goodman|Eartha Kitt|Patrick W...,Mark Dindal,It's All About.....ME!,Kuzco is a self-centered emperor who summons P...,78,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Walt Disney Feature Anima...,12/9/2000,6.9,2000,69327687,12
884,tt0243585,120000000,169956806,Stuart Little 2,Michael J. Fox|Geena Davis|Hugh Laurie|Jonatha...,Rob Minkoff,A Little Goes A Long Way,"Stuart, an adorable white mouse, still lives h...",78,Family|Adventure|Animation|Comedy,Columbia Pictures|Sony Pictures Entertainment,7/19/2002,5.4,2002,49956806,7
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,Focus Films|Starz Animation|Relativity Media|T...,8/19/2009,6.5,2009,18428063,8
438,tt1075747,47000000,10539000,Jonah Hex,Josh Brolin|John Malkovich|Megan Fox|Michael F...,Jimmy Hayward,Revenge gets ugly.,Gunsliger Jonah Hex (Josh Brolin) is appointed...,80,Action|Western|Drama|Fantasy|Thriller,Warner Bros.,6/18/2010,4.4,2010,-36461000,6

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. What is the average length of films?
# 4. Какова средняя длительность фильмов?

In [11]:
data_runtime_mean = data['runtime'].mean()
display(data_runtime_mean)

109.6585494970884

In [12]:
answers['4'] = '109.6585494970884 (110)'

# 5. What is the median length of films?
# 5. Каково медианное значение длительности фильмов?

In [13]:
data_runtime_median = st.median(data['runtime'])
display(data_runtime_median)

107

In [14]:
answers['5'] = '107'

# 6. What is the most profitable film?
# 6. Какой самый прибыльный фильм?

In [15]:
data_profit_max = data.sort_values(['profit'],ascending=False).head(10)
display(data_profit_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910,4
722,tt1201607,125000000,1327817822,Harry Potter and the Deathly Hallows: Part 2,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...,David Yates,It all ends here.,"Harry, Ron and Hermione continue their quest t...",130,Adventure|Family|Fantasy,Warner Bros.|Heyday Films|Moving Picture Compa...,7/7/2011,7.7,2011,1202817822,7
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767,4
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009,11
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015,1082730962,6
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12

In [16]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Which film is the most unprofitable?
# 7. Какой фильм самый убыточный?

In [17]:
data_profit_min = data.sort_values(['profit'],ascending=True).head(10)
display(data_profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039,4
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242,3
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002,-92896027,8
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006,-84540684,10
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008,-80445998,11
1872,tt0134983,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,4.7,2000,-75171919,1
1400,tt0318081,80000000,5989640,A Sound of Thunder,Heike Makatsch|Armin Rohde|David Oyelowo|Wilfr...,Peter Hyams,Some Rules Should Never Be Broken.,When a hunter sent back to the prehistoric era...,110,Thriller|Science Fiction|Adventure|Action,Epsilon Motion Pictures|Franchise Pictures|Bal...,5/15/2005,4.8,2005,-74010360,5
1718,tt0211933,86000000,14373825,Awake,Hayden Christensen|Jessica Alba|Terrence Howar...,Joby Harold,"Every year, one in 700 people wake up during s...","While undergoing heart surgery, a man experien...",84,Thriller|Crime|Mystery,The Weinstein Company|Open City Films|GreeneSt...,11/28/2007,6.3,2007,-71626175,11
468,tt1341188,120000000,48668907,How Do You Know,Reese Witherspoon|Paul Rudd|Owen Wilson|Jack N...,James L. Brooks,How do you know it's love?,After being cut from the USA softball team and...,121,Comedy|Drama|Romance,Columbia Pictures|Gracie Films|Road Rebel,12/17/2010,4.9,2010,-71331093,12

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. How many films from the dataset had more than budget fees?
# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
data_profit = data['profit'][data.revenue > data.budget].nunique()
display(data_profit)

1473

In [20]:
answers['8'] = '1473'

# 9. What was the highest grossing film in 2008?
# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
data_profit_max_2008 = data[data.release_year == 2008].sort_values(['profit'],ascending=False).head(10)
display(data_profit_max_2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033,5
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637,6
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560,6
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371,7
612,tt0479952,150000000,603900354,Madagascar: Escape 2 Africa,Ben Stiller|Jada Pinkett Smith|David Schwimmer...,Eric Darnell|Tom McGrath,Still together. Still lost!,"Alex, Marty, Melman, Gloria, King Julien, Maur...",89,Family|Animation,DreamWorks Animation,10/30/2008,6.1,2008,453900354,10
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008,445174222,4
605,tt0830515,200000000,586090727,Quantum of Solace,Daniel Craig|Olga Kurylenko|Mathieu Amalric|Ju...,Marc Forster,"For love, for hate, for justice, for revenge.",Quantum of Solace continues the adventures of ...,106,Adventure|Action|Thriller|Crime,Eon Productions,10/30/2008,6.0,2008,386090727,10
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008,362910544,5
604,tt1099212,37000000,392616625,Twilight,Kristen Stewart|Robert Pattinson|Billy Burke|T...,Catherine Hardwicke,"When you can live forever, what do you live for?",When Bella Swan moves to a small town in the P...,122,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,11/20/2008,5.8,2008,355616625,11

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. What was the most unprofitable film for the period from 2012 to 2014 (inclusive)?
# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
data_profit_min_2012a2014 = data[(data.release_year >= 2012) 
                                 & (data.release_year <= 2014)].sort_values(['profit'],ascending=True).head(10)
display(data_profit_min_2012a2014)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500,7
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525,9
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973,6
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171,1
1278,tt1235522,56000000,19701164,Broken City,Mark Wahlberg|Russell Crowe|Catherine Zeta-Jon...,Allen Hughes,Proof Can Be a Powerful Weapon.,"In a broken city rife with injustice, ex-cop B...",109,Thriller|Crime|Drama,Regency Enterprises|Inferno International|1984...,1/18/2013,5.7,2013,-36298836,1
1033,tt1656186,35000000,2106557,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Action|Crime|Drama|Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443,5
144,tt2788710,44000000,11305175,The Interview,James Franco|Seth Rogen|Lizzy Caplan|Randall P...,Evan Goldberg|Seth Rogen,The Film Hackers Tried To Get Banned,Dave Skylark and his producer Aaron Rapoport r...,112,Action|Comedy,Columbia TriStar,12/25/2014,6.1,2014,-32694825,12
216,tt1837709,60000000,30800231,Winter's Tale,Colin Farrell|Jessica Brown Findlay|Russell Cr...,Akiva Goldsman,This is not a true story. This is true love.,A burglar falls for an heiress as she dies in ...,118,Drama|Fantasy|Mystery|Romance,Village Roadshow Pictures|Weed Road Pictures|W...,2/13/2014,5.9,2014,-29199769,2
187,tt0458481,65000000,39407616,Sin City: A Dame to Kill For,Mickey Rourke|Jessica Alba|Josh Brolin|Joseph ...,Frank Miller|Robert Rodriguez,There is no justice without sin.,Some of Sin City's most hard-boiled citizens c...,102,Crime|Thriller,Miramax Films|Troublemaker Studios|AR Films|Al...,8/20/2014,6.2,2014,-25592384,8

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. What genre of films is the most?
# 11. Какого жанра фильмов больше всего?

In [25]:
genres_count(data['genres'])

                 Qunatity
Drama                 782
Comedy                683
Thriller              596
Action                582
Adventure             415
Crime                 315
Romance               308
Family                260
Science Fiction       248
Fantasy               222

In [26]:
answers['11'] = 'Drama'

# 12. What genre of films is most often profitable?
# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
data_profit = data[data.revenue > data.budget]
genres_count(data_profit['genres'])

                 Qunatity
Drama                 560
Comedy                551
Thriller              446
Action                444
Adventure             337
Romance               242
Crime                 231
Family                226
Science Fiction       195
Fantasy               188

In [28]:
answers['12'] = 'Drama'

# 13. Which director has the highest gross box office receipts?
# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
director_max_revenue = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(director_max_revenue)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [30]:
answers['13'] = 'Peter Jackson'

# 14. Which director has made the most Action films?
# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
director_max_actions = data[data.genres.str.contains("Action", na=False)]
director_max_actions = director_max_actions.groupby(['director'])['genres'].count().sort_values(ascending=False)
display(director_max_actions)

director
Paul W.S. Anderson         7
Michael Bay                7
Ridley Scott               6
Antoine Fuqua              6
Robert Rodriguez           6
                          ..
Jimmy Hayward              1
Joe Cornish                1
Joe Russo|Anthony Russo    1
Joe Wright                 1
Jorma Taccone              1
Name: genres, Length: 345, dtype: int64

In [32]:
answers['14'] = 'Paul W.S. Anderson'

# 15. Films with which actor brought the highest box office in 2012?
# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
data_profit_max_2012 = data[data.release_year == 2012].sort_values(['profit'],ascending=False).head(10)
genres_count(data['cast'])

                   Qunatity
Nicolas Cage             27
Samuel L. Jackson        27
Matt Damon               26
Robert De Niro           26
Bruce Willis             25
Owen Wilson              24
Mark Wahlberg            24
Johnny Depp              23
Ewan McGregor            23
Jason Statham            22

In [34]:
answers['15'] = 'Nicolas Cage'

# 16. Which actor has starred in more big-budget films?
# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
data_budget_mean = data['budget'].mean()
data_budget_more_mean = data[data.budget > data_budget_mean]
genres_count(data_budget_more_mean['cast'])

                   Qunatity
Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Samuel L. Jackson        15
Eddie Murphy             15
Tom Cruise               15
Russell Crowe            14
Jamie Foxx               14
Ben Stiller              14
Hugh Jackman             14

In [36]:
answers['16'] = 'Matt Damon'

# 17. In what genre has Nicolas Cage starred the most?
# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
data_NC = data[data.cast.str.contains("Nicolas Cage", na=False)]
genres_count(data_NC['genres'])

                 Qunatity
Action                 17
Thriller               15
Drama                  12
Crime                  10
Fantasy                 8
Adventure               7
Comedy                  6
Science Fiction         4
Mystery                 3
Animation               3

In [38]:
answers['17'] = 'Action'

# 18. Most Unprofitable Film from Paramount Pictures
# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
data_PP = data[data.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(['profit'],ascending=True).head(1)
display(data_PP)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

In [40]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Which year was the most successful in terms of cumulative box office receipts?
# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
data_revenue_max = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(data_revenue_max)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [42]:
answers['19'] = '2015'

# 20. What's the most profitable year for Warner Bros. Studios?
# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
data_WB = data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(data_WB)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [44]:
answers['20'] = '2014'

# 21. In which month for all the years the most films were released in total?
# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
data_month_max_move = data.groupby(['for_month_group'])['for_month_group'].count().sort_values(ascending=False)
display(data_month_max_move)

for_month_group
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: for_month_group, dtype: int64

In [46]:
answers['21'] = 'September'

# 22. How many films were released in the summer in total? (for June, July, August)
# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
data_sumer_moves = data['for_month_group'][(data.for_month_group == 6) | 
                                           (data.for_month_group == 7) | 
                                           (data.for_month_group == 8)].count()
display(data_sumer_moves)

450

In [48]:
answers['22'] = '450'

# 23. For which director is winter the most productive time of the year?
# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
data_winter_moves = data[(data.for_month_group == 1) | (data.for_month_group == 2) | (data.for_month_group == 12)]
data_winter_director = data_winter_moves.groupby(['director'])['for_month_group'].count().sort_values(ascending=False)
display(data_winter_director)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: for_month_group, Length: 332, dtype: int64

In [50]:
answers['23'] = 'Peter Jackson'

# 24. Which films are in the top 1 percent by rating?
# 24. Какие фильмы входят в 1 процент лучших по рейтингу?

In [51]:
a = data.sort_values(['vote_average'],ascending=False).head(int((len(data))/100))
display(a)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,for_month_group
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5

In [52]:
answers['24'] = a['original_title']