In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as st
#import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [23]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = pd.Series(data['revenue'] - data['budget'])
data['for_month_group'] = pd.to_datetime(data['release_date']).dt.month


def genres_count(genres):
    count = {}
    for i in genres:
        word = i.split("|")
        for char in word:
           if char in count:
               count[char] += 1
           else:
               count[char] = 1

    a = pd.DataFrame.from_dict(count, orient='index').rename(columns={0:'Qunatity'})           
            
    display(a.sort_values(['Qunatity'],ascending=False).head(10))

def original_title_len_count(title):
    m=0
    for y in title:
        count[y] = len(y)    
        if count[y]>m:
            m = count[y]
            n = y
    
    df_title_len = data[data.original_title.str.contains(n, na=False)].sort_values(['profit'],ascending=True).head(1)
    
    display(df_title_len)
    
def production_companies_list(production_companies):
    m=0
    count_production_companies = {}
    for i in production_companies:
        word = i.split("|")
        for char in word:
           if char in count_production_companies:  # если символ уже встречался, то увеличиваем его количество на 1
               count_production_companies[char] += 1
           else:
               count_production_companies[char] = 1
                
                
    df_production_companies = data.runtime
    for char, cnt in count_production_companies.items():
        #print(f"{char}")
        df_companies = data[data.production_companies.str.contains(char, na=False)]
        df_companies['production_companies'] = np.where(df_companies['production_companies']!=None, char, df_companies['production_companies'])
        df_companies = df_companies.groupby(['production_companies'])['vote_average'].mean().sort_values(ascending=False)
        if df_companies[0]>m:
            m = df_companies[0]
            n = char
        display(m,n)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data_budget = data.sort_values(['budget'],ascending=False).head(10)

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data_runtime_max = data.sort_values(['runtime'],ascending=False).head(10)

#display(data_runtime_max)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data_runtime_min = data.sort_values(['runtime'],ascending=True).head(10)

answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
data_runtime_mean = data['runtime'].mean()

answers['4'] = '109.6585494970884 (110)'

# 5. Каково медианное значение длительности фильмов?

In [12]:
data_runtime_median = st.median(data['runtime'])

answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_profit_max = data.sort_values(['profit'],ascending=False).head(10)

answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [14]:
data_profit_min = data.sort_values(['profit'],ascending=True).head(10)

answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
data_profit = data['profit'][data.revenue > data.budget].nunique()

answers['8'] = '1473'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data_profit_max_2008 = data[data.release_year == 2008].sort_values(['profit'],ascending=False).head(10)

answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data_profit_min_2012a2014 = data[(data.release_year >= 2012) 
                                 & (data.release_year <= 2014)].sort_values(['profit'],ascending=True).head(10)

answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_count(data['genres'])

       Qunatity
Drama       782

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
data_profit = data[data.revenue > data.budget]
genres_count(data_profit['genres'])

#display(data_profit)

                 Qunatity
Drama                 560
Comedy                551
Thriller              446
Action                444
Adventure             337
Romance               242
Crime                 231
Family                226
Science Fiction       195
Fantasy               188

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
director_max_revenue = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
director_max_actions = data[data.genres.str.contains("Action", na=False)]
director_max_actions = director_max_actions.groupby(['director'])['genres'].count().sort_values(ascending=False)

display(director_max_actions)

director
Paul W.S. Anderson         7
Michael Bay                7
Ridley Scott               6
Antoine Fuqua              6
Robert Rodriguez           6
                          ..
Jimmy Hayward              1
Joe Cornish                1
Joe Russo|Anthony Russo    1
Joe Wright                 1
Jorma Taccone              1
Name: genres, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
data_profit_max_2012 = data[data.release_year == 2012].sort_values(['profit'],ascending=False).head(10)
genres_count(data['cast'])

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
data_budget_mean = data['budget'].mean()
data_budget_more_mean = data[data.budget > data_budget_mean]
genres_count(data_budget_more_mean['cast'])

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
data_NC = data[data.cast.str.contains("Nicolas Cage", na=False)]
genres_count(data_NC['genres'])

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
data_PP = data[data.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(['profit'],ascending=True).head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
data_revenue_max = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

display(data_revenue_max)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
data_WB = data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

display(data_WB)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
data_month_max_move = data.groupby(['for_month_group'])['for_month_group'].count().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
data_sumer_moves = data['for_month_group'][(data.for_month_group == 6) | (data.for_month_group == 7) | (data.for_month_group == 8)].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
data_winter_moves = data[(data.for_month_group == 1) | (data.for_month_group == 2) | (data.for_month_group == 12)]
data_winter_director = data_winter_moves.groupby(['director'])['for_month_group'].count().sort_values(ascending=False)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
original_title_len_count(data['original_title'])

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
data['overview_len'] = data.overview.apply(lambda x: len(x.strip(' ')))
production_companies_list(data['production_companies'])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
a = data.sort_values(['vote_average'],ascending=False).head(int((len(data))/100))

display(a)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)